.App {
  text-align: center;
}

/* *{
  outline: red 1px solid;
} */

body{
  height: 100vh;
  margin: 0px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#header{
  position: absolute;
  z-index: 20;
  width: 100vw;
}

#container-header-navLinks{
  display: none;
  flex-grow: 0;
}
#container-header-navLinks2{
  display: none;
  flex-grow: 0;
}

#header-ul{
  list-style-type: none;
}

#header-ul a{
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  padding: 1vh 3vw;
  margin: 0px 1vw;
}


.navbar-icono-svg{
  color: white;
}

#dropdown-menu{
  width: 85vw;
  background-color: black;
}

#dropdown-menu li{
background-color: black;
}

#dropdown-menu a{
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: black;
}


.carousel-item img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.boton-carousel{
  transform: translateY(50%);
  height: 50%;
}

#homeSomosHaps{
  position: relative;
  height: 100vh;
  background-image: url('../public/img/fondoHomeSomosHaps.jpg');
} 

#container-somos-haps{
  height: 100vh;
}


.dashboard-sidebar_borderright{
  border-right: 5px solid rgb(101, 240, 147);
  border-radius: 5px;
}

@media (min-width: 530px){

  #dropdown-menu{
    width: 75vw;
  }

}

@media (min-width: 915px){
  #container-header-botonMenu{
    display: none;
  }
  
  #container-header-navLinks{
    display: block;
  }
  #container-header-navLinks2{
    display: block;
  }

}

@media (max-width: 914px){

  #flex-somos-haps{
    flex-direction: column;
  }

  #homeSomosHaps{
    background: url('../public/img/600x400-placeholder.png') no-repeat center fixed;
    background-size: cover;
  } 

  #somos-haps-div-foto{
    display: none;
  }

}

@media (max-width: 1200px){

  #flex-somos-haps{
    flex-direction: column;
  }

}