.App {
  text-align: center;
}

/* *{
  outline: red 1px solid;
} */

body{
  height: 100vh;
  margin: 0px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#header{
  z-index: 20;
  width: 100vw;
  height: 10vh;
  background: url('https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#container-header-navLinks{
  display: none;
  flex-grow: 0;
}
#container-header-navLinks2{
  display: none;
  flex-grow: 0;
}

#header-ul{
  list-style-type: none;
  margin: 0px 0px !important;
}

#header-ul a{
  text-decoration: none;
  color: white;
  background-color: #000;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1vh 3vw;
  margin: 0px 1vw;
}


.navbar-icono-svg{
  color: white;
}

#dropdown-menu{
  width: 85vw;
  background-color: black;
}

#dropdown-menu li{
background-color: black;
}

#dropdown-menu a{
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: black;
}

.carousel-item img{
  height: 90vh;
  width: 100vw;
  object-fit: cover;
}

.boton-carousel{
  transform: translateY(50%);
  height: 50%;
}

#homeSomosHaps{
  position: relative;
  height: 100vh;
  background-image: url('../public/img/fondoHomeSomosHaps.jpg');
} 

#container-somos-haps{
  height: 100vh;
}

#HomeSwiperCervezas{
  position: relative;
  height: 100vh;
}

#Swiper-Container{
  height: 100vh;
}

.container-slide{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.container-slide h2{
  font-size: 2rem;
  margin-bottom: 30px;
}
.container-slide p{
  text-align: center;
}


#container-slide1{
  background: url('../public/img/black1920x1080.png') center;
}
#container-slide2{
  background: url('../public/img/1920x1080-placeholder.jpg') center;
}
#container-slide3{
  background: url('../public/img/1920x1080-placeholder-b.jpg') center;
}
#container-slide4{
  background: url('../public/img/1920x1080-placeholder.jpg') center;
}
.swiper-pagination-bullet{
  background: #fff !important;
  width: 15px !important;
  height: 15px !important;
}

#footer{
  position: relative;
  height: 100vh;
  justify-content: space-around;
  background: url('https://images.unsplash.com/photo-1534655882117-f9eff36a1574?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
  background-size: cover;
}

#footer-container-ul{
  flex-grow: 0.3;
}

.footer-ul{
  list-style-type: none;
  height: 100%;
  padding-left: 0px;
}

.footer-ul li{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 90%;
}

.footer-ul a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 15px auto;
  width: 100%;
}

#footer-container-iconos{
  display: flex;
}

.footer-icono-svg{
  width: 23%;
  fill: #fff;
}

#footer-desktop-container-iconos{
  display: none;
}

#footer-desktop-container-ul{
  display: none;
}

#footer-container-copyright{
  color: #fff;
}

.dashboard-sidebar_borderright{
  border-right: 5px solid rgb(101, 240, 147);
  border-radius: 5px;
}

@media (min-width: 530px){

  #dropdown-menu{
    width: 75vw;
  }

  .footer-ul li{
    width: 70%;
  }

}

@media (min-width: 700px){

  .container-slide{
    padding: 0px 50px;
  }
  .container-slide h2{
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .container-slide p{
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 0px 30px;
  }

  .footer-ul li{
    width: 50%;
  }

  .footer-icono-svg{
    width: 17%;
  }

}

@media (min-width: 915px){
  #container-header-botonMenu{
    display: none;
  }
  #container-header-navLinks{
    display: block;
  }
  #container-header-navLinks2{
    display: block;
  }

  .container-slide{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
    
  }
  
  .container-slide h2{
    margin-left: 60px;
  }
  .container-slide p{
    text-align: left;
    margin-left: 60px;
    width: 30%;
  }
  .boton-swiper{
    margin-left: 60px;
  }

  #footer{
    height: 45vh;
    width: 100vw;
    margin: auto;
    justify-content: center;
    padding: 0px;
    background: url('https://images.unsplash.com/photo-1558565851-10a41b286adb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
  }

  #footer div{
    margin: 30px 40px;
  }

  #footer-container-logo{
    align-self: flex-start;
  }

  #footer-container-iconos{
    display: none;
  }

  #footer-desktop-container-iconos{
    display: flex;
    width: 20%;
  }

  .footer-icono-desktop-svg{
    width: 45%;
    fill: #fff
  }

  #footer-container-ul{
    display: none;
  }

  #footer-desktop-container-ul{
    display: block;
    position: absolute;
    right: 10%;
    width: 40%;
  }

  #footer-desktop-container-ul li{
    margin: 10px auto;
    width: 100%;
  }

  #footer-container-copyright{
    position: absolute;
    bottom: 10px;
    right: 50%;
  }

  #footer-container-copyright span{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 5px;
    border-radius: 3px;
  }


}

@media (max-width: 914px){

  #flex-somos-haps{
    flex-direction: column;
  }

  #homeSomosHaps{
    background: url('https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center;
    background-size: cover;
  } 

  #container-somos-haps_descripcion h2{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 5px;
    border-radius: 3px;
  }
  #container-somos-haps_descripcion p{
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 5px;
    border-radius: 3px;
  }

  #somos-haps-div-foto{
    display: none;
  }

}

@media (max-width: 1200px){

  #flex-somos-haps{
    flex-direction: column;
  }

}